<div class="card-round">
    <h3  class="card-title">Top 10 FPN Charges</h3>
    <div class="charges-wrapper">
        <div *ngFor="let i of Arr(num).fill(1)" class="fpn-charge"  fxLayout="row" fxLayoutAlign="space-between center" >
            <div class="description">
                Incorrect Details Submitted
            </div>
            <div class="number-location">
                <a>Permit Number</a>
                <p>Location</p>
            </div>
            <div class="amount">
                <p>Amount</p>
            </div>
        </div>
    </div>
</div>


