<div class="card-round">
    <h3 class="card-title">Customer, Compliance & Quality</h3>
    <div class="row">
        <div class="col-md-6">
            <div class="three-kpi-chart">
                <div class="three-kpi-wrapper">
                    <div class="kpi" style="background: #DB0000;">
                        <h2>23</h2>
                        <h3>High</h3>
                    </div>
                    <div class="kpi" style="background: #FFB100;">
                        <h2>34</h2>
                        <h3>Med</h3>
                    </div>
                    <div class="kpi" style="background: #378B12;">
                        <h2>200</h2>
                        <h3>Low</h3>
                    </div>
                </div>
                <h3 class="three-kpi-title"> Public Impact of Future Works</h3>
            </div>
        </div>
        <div class="col-md-6">
            <div class="three-kpi-chart">
                <div class="three-kpi-wrapper">
                    <div class="kpi" style="background: #DB0000;">
                        <h2>23</h2>
                        <h3>SLG</h3>
                    </div>
                    <div class="kpi" style="background: #FFB100;">
                        <h2>34</h2>
                        <h3>Cat A</h3>
                    </div>
                    <div class="kpi" style="background: #378B12;">
                        <h2>200</h2>
                        <h3>Cat B-C</h3>
                    </div>
                </div>
                <h3 class="three-kpi-title"> Reputation Defects</h3>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-6">
            <div class="vertical-kpi-box" style="background: #DB0000;">
                <div class="vkpi-icon">
                    <mat-icon aria-hidden="false" aria-label="">verified</mat-icon>
                </div>
                <h2>80%</h2>
                <h3>Process Effectiveness</h3>
            </div>
        </div>
        <div class="col-md-6">
            <div class="vertical-kpi-box" style="background: #FFB100;">
                <div class="vkpi-icon">
                    <mat-icon aria-hidden="false" aria-label="">verified</mat-icon>
                </div>
                <h2>70%</h2>
                <h3>HA Engagement</h3>
            </div>
        </div>
    </div>
  </div>