<div class="container-fluid">
    <div class="row">
      <div class="col-md-10">
        <div class="row ">
          <div class="col-md-6 mt-4">
          <div class="card-round">
              <div class="page-title" fxLayout="row" fxLayoutAlign="start center ">
                <button mat-icon-button aria-label="arrow_back">
                    <mat-icon>arrow_back</mat-icon>
                </button>
                <h2 >Permit Costs</h2>
              </div>
          </div>
          <app-avoidable-cost-card></app-avoidable-cost-card>

          </div>
          <div class="col-md-6 mt-4">
            <app-avoidable-cost-table-card></app-avoidable-cost-table-card>
          </div>
        </div>
  
      </div>
      <div class="col-md-2 mt-4">
      <app-efficiency-filter></app-efficiency-filter>
      </div>
    </div>
  </div>
  